html {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 1rem;
}

h3 {
  text-align: center;
}

@media only screen and (min-width: 38em) {

header {
  text-align: center;
}

section {
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: "header header header"
"col1 col2 col3";
gap: 1rem;
}

h2 {
  display: flex;
  flex-wrap: wrap;
}
